<div class="icons">
    <ul>
        <li><a routerLink="/dialler"><button><fa name="phone-square" animation="none" class="dialler"></fa></button></a></li>
        <li><a routerLink="/contacts"><button><fa name="user" animation="none" class="contacts"></fa></button></a></li>
        <li><a routerLink="/messages"><button><fa name="envelope" animation="none" class="contacts"></fa></button></a></li>
        <li><button><fa name="cog" animation="none" class="settings"></fa></button></li>
        <li><button><fa name="microphone-slash" animation="none" class="settings"></fa></button></li>
    </ul>
</div>